body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #ff6b6b, #ffb74d, #64b5f6, #4db6ac, #d4e157);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.quote-container {
    margin-bottom: 20px;
}

blockquote {
    font-style: italic;
    margin: 0;
    font-family: 'Dancing Script', cursive;
    color: #ff6b6b; /* Colore del testo */
}

.author {
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Pacifico', cursive;
    color: #4db6ac; /* Colore del testo */
}

.timer-container {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

/* Elementi di design */
#container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://source.unsplash.com/1600x900/?flowers') repeat; /* Immagine di fiori da Unsplash */
    opacity: 0.2; /* Opacità per sfumare l'immagine di sfondo */
    z-index: -1;
}

#container::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    background: url('https://source.unsplash.com/200x200/?leaves') no-repeat; /* Immagine di foglie da Unsplash */
    background-size: cover;
    transform: translate(-50%, -50%);
}
